* {
  font-family: "SFProDisplay-Regular", serif;
  font-size: 14px;
}

body {
  background-color: var(--col-bg-primary);
}

h2 {
  font-family: "SFProDisplay-Regular";
  font-size: 32px;
}

h5,
h6 {
  font-family: "OpenSans-Semibold";
  padding: 8px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--col-text-secondary);

  &.green {
    color: var(--col-info);
  }

  .red {
    color: var(--col-error);
  }

  &.center {
    text-align: center;
  }
}

h5 {
  font-size: 20px;
  line-height: 24px;
}

hr {
  margin-top: 10px;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--col-hr);
  height: 0;

  &.dashed {
    border-style: dashed;
    border-bottom-color: var(--col-primary-light);
  }
}

.link {
  color: var(--col-additional);
}

.breadcrumbs-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 30px;
  padding-left: 40px;

  p {
    font-size: 16px;
    line-height: 24px;
    font-family: "OpenSans";
    color: var(--col-subtext-secondary);

    a {
      font-size: 16px;
      color: var(--col-additional);
    }
  }
}

.adding-btn {
  border: 1px solid var(--col-hr);
  padding: 26px 30px;
  min-height: 100%;
  width: 100%;
  border-radius: 4px;
  background-color: var(--col-bg-secondary);

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    min-height: 100%;
    margin: 0 15px 46px;
  }

  &-title {
    padding-top: 15px;
    font-size: 16px;
    line-height: 18px;
    font-family: "OpenSans-SemiBold", sans-serif;
    text-align: center;
  }
}
