@import "@/modules/styles/app";
//@import "./modules/styles/app.scss";

// #app {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
// }

.text-center {
  text-align: center;
}
.mx-auto {
  margin: 5vh auto 3rem;
}
input {
  width: 100%;
}
fieldset {
  border: none;
  padding: 0;
}
.form-group {
  margin: 16px 0;
}
.btn {
  text-align: center;
  outline: none !important;
  border-radius: 4px;
  border: none;
  padding: 4px 10px;
  transition: 0.17s all;
}
.btn-submit {
  background: #28a745;
  color: #ffffff;

  &:hover {
    background: #2abe4d;
  }
}
